{% extends 'main/base.html' %}

{% block content %}

<div class="col-md-4">
<div class="card mb-4 box-shadow">
{#                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">#}
<div class="card-body">
  <p class="card-text">
        Офис МСК <br>
        Офис СПБ <br>
  </p>


{#                  <div class="d-flex justify-content-between align-items-center">#}
{#                    <div class="btn-group">#}
{#                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>#}
{#                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>#}
{#                    </div>#}
{#                    <small class="text-muted">9 mins</small>#}
{#                  </div>#}
</div>
</div>
</div>

<div class="col-md-4">
<div class="card mb-4 box-shadow">
{#                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">#}
<div class="card-body">
    <h2> Напишите нам</h2>>
    <form method="pos">
        {% csrf_token %}
        <input class="form-control mb-2" name="name"/>
        <input class="form-control mb-2" name="email"/>
        <textarea class="form-control mb-2" name="message"> </textarea>
        <button type="submit", class=" mb-2 btn btn-primary form-control"> Отправить </button>>
    </form>

{#                  <p class="card-text">#}
{#                        Офис МСК <br>#}
{#                        Офис СПБ <br>#}
{#                  </p>#}

</div>
</div>
</div>

{% endblock %}